.text {
    font-weight: 700;
}
.text-2 {
    font-size: 16px;
    color: #6C6C6C;
    font-weight: 700;
}
.pricing h1 {
    text-align: center;
    margin-bottom: 50px;
}
.pricing h2 {
    color: #130f40;
}
.icon svg{
    color: blue;
}
.col a {
    background-color: #F496D1;
    color: blue;
}
#plus {
    background-color: #D6A2E8;
}
.card-text {
    color: #6C6C6C;
}
.div p {
    color: #6C6C6C;
}
/*=============footer============*/

footer {
    background-color: #0B0D17;
    padding: 70px 0;
}